---
// Classes
import ButtonClass from '../../classes/ButtonClass';


// Routes
import AppRoutes from '../../routes';

// Components
import Layout from '../../layouts/Layout.astro';
import ButtonClass from '../../classes/ButtonClass';
import CustomButton from '../../components/forms/CustomButton';

// Data
const iluminaria1 = {
  title:'PROYECTOR LED PARA GRANDES ALTURAS',
  potencias:'150W a 1250W',
  description:'Diseño con módulos para el compartimiento del driver y la fuente luminosa, gran tolerancia para altas potencias (150 - 1250W). Instalación sencilla y libre de mantenimiento, peso asegurando una disipación efectiva del calor.',
  aplicaciones:['Estadios', 'Unidades Deportivas', 'Patios de Maniobras', 'Estacionamientos'],
  caracteristicas:[
    'Eficacia del sistema 145 lm/W.',
    'Driver multivoltaje con rango de apertura de 90 a 305 V. Sobre pedido 440 V y 480 V.',
    'Supresor de picos de 10 Kv.'
  ],
  img:'/images/screens/iluminarias/img4.png'
}

const iluminaria2 = {
  title:'CAMPANA LED PARA NAVES INDUSTRIALES Y BODEGAS',
  potencias:'100W, 150W y 200W',
  description:'Una opción ideal para iluminar de manera eficiente y segura grandes espacios de trabajo. Esta lámpara cuenta con tecnología LED de alta potencia, lo que garantiza una iluminación brillante y uniforme.',
  aplicaciones:['Naves industriales', 'Domos', 'Canchas', 'Plazas Cívicas Techadas'],
  caracteristicas:[
    'Eficacia real del sistema de 160 lm/W..',
    'Driver multivoltaje con rango de apertura de 100 a 277 V..',
    'Supresor de picos en DRIVER BUILT-IN de 10 Kv.',
  ],
  img:'/images/screens/iluminarias/img1.png'
}

const iluminaria3 = {
  title:'LUMINARIA LED PARA ALUMBRADO PÚBLICO',
  potencias:'20W a 180W',
  description:'Descripción: Diseño patentado, ultra-ligero, aerodinámico y con gran disipación de calor. Incorpora una carcasa de aluminio fundido, con protección general, que le brinda resistencia a ambientes altamente corrosivos y climas complejos. Ideal para vialidades, fraccionamientos, estacionamientos, parques, entre otros.',
  aplicaciones:['Vialidades', 'Estacionamientos'],
  caracteristicas: [
    'Eficacia del sistema 140 a 160 lm/W.',
    'Supresor de picos de tensión de 10 Kv.',
    'Driver multivoltaje con rango de apertura de 90 a 305 V.',
    'Fotocelda tipo NEMA.',
  ],
  img:'/images/screens/iluminarias/img2.png'
}

const iluminaria4 = {
  title:'LUMINARIA LED SOLAR PARA VIALIDADES “TODO EN UNO"',
  potencias:'20W a 60W',
  description:'La S6A es la luminaria solar perfecta que combina funcionalidad, precio, durabilidad, estética y desempeño. La batería cuenta con 7 días de respaldo para días nublados o lluviosos. Es ideal para vialidades, caminos rurales, fraccionamientos, parques, jardines, entre otros; sobre todo aquellos donde no llega la energía eléctrica.',
  aplicaciones:['Vialidades', 'Fraccionamientos', 'Parques y Áreas Comunes'],
  caracteristicas:[
    'Autonomía de 7 noches con días lluviosos o nublados con tan solo 6 horas de carga solar.',
    'Eficacia del LED 190 lm/W, eficacia del sistema 110 lm/W (Prueba 6,000 hrs - NOM-031-ENER-2019).',
    '16 años de vida útil de la batería.',
  ],
  img:'/images/screens/iluminarias/img3.png'
}

const iluminarias = [iluminaria1, iluminaria2, iluminaria3, iluminaria4];

export function getStaticPaths () {
  return [
    { params:{ id:0 }},
    { params:{ id:1 }},
    { params:{ id:2 }},
    { params:{ id:3 }},
  ];
}

const { id } = Astro.params;

const selectedIluminaria = iluminarias[id];

---

<Layout title={selectedIluminaria.title} hasBackground>
  <!-- Pantallas grandes -->
  <div class="hidden lg:grid min-h-screen bg-gray-100 mx-4 md:mx-20 lg:mx-40 xl:mx-60 py-12 grid-cols-2 gap-8 mt-24">
    <!-- Columna izquierda: Imagen del producto y botón -->
    <div class="flex flex-col items-center justify-center gap-6 bg-gray-800 p-8 rounded-lg shadow-lg h-[60vh]">
      <h1 class="text-2xl font-bold text-white text-center">{selectedIluminaria.title}</h1>
      <img src={selectedIluminaria.img} alt={selectedIluminaria.title} class="h-60 rounded-lg object-cover shadow-md">
      <a href={AppRoutes.sobreNosotrosRoute.route}>
        <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Solicitar Cotización</CustomButton>
      </a>
    </div>

    <!-- Columna derecha: Detalles del producto -->
    <div class="flex flex-col gap-6 justify-center h-[60vh]">
      <!-- Sección de Potencias -->
      <div class="p-6 bg-white rounded-lg shadow-lg border-2 border-gray-300">
        <h2 class="text-lg font-semibold text-gray-800">Potencias</h2>
        <p class="text-gray-600 mt-2">{selectedIluminaria.potencias}</p>
      </div>
      <!-- Sección de Descripción -->
      <div class="p-6 bg-white rounded-lg shadow-lg border-2 border-gray-300">
        <h2 class="text-lg font-semibold text-gray-800">Descripción</h2>
        <p class="text-gray-600 mt-2">{selectedIluminaria.description}</p>
      </div>
      <!-- Sección de Características -->
      <div class="p-6 bg-white rounded-lg shadow-lg border-2 border-gray-300">
        <h2 class="text-lg font-semibold text-gray-800">Características</h2>
        <ul class="list-disc list-inside text-gray-600 mt-2">
          {selectedIluminaria.caracteristicas.map((row) => <li>{row}</li>)}
        </ul>
      </div>
       <!-- Botón para regresar -->
    <div class="text-center mt-6">
      <a href="/iluminarias">
        <button class="px-6 py-2 bg-gray-600 text-white font-semibold rounded-lg hover:bg-gray-700 focus:outline-none">
          Volver a Iluminarias
        </button>
      </a>
    </div>
    </div>
  </div>

  <!-- Pantallas móviles -->
  <div class="block lg:hidden min-h-screen bg-gray-100 mx-4 py-8 flex flex-col gap-6 mt-24">
    <!-- Título e imagen -->
    <div class="text-center">
      <h1 class="text-xl font-bold text-gray-800">{selectedIluminaria.title}</h1>
      <img src={selectedIluminaria.img} alt={selectedIluminaria.title} class="w-full max-w-sm mx-auto mt-4 rounded-lg object-cover shadow-md">
      <a href={AppRoutes.sobreNosotrosRoute.route}>
         <button class="px-6 py-2 bg-gray-600 text-white font-semibold rounded-lg hover:bg-gray-700 focus:outline-none">Solicitar Cotización</button>
      </a>
    </div>
    
    <!-- Detalles -->
    <div class="flex flex-col gap-4">
      <!-- Sección de Potencias -->
      <div class="p-4 bg-white rounded-lg shadow-md border border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800">Potencias</h2>
        <p class="text-gray-600 mt-2">{selectedIluminaria.potencias}</p>
      </div>
      <!-- Sección de Descripción -->
      <div class="p-4 bg-white rounded-lg shadow-md border border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800">Descripción</h2>
        <p class="text-gray-600 mt-2">{selectedIluminaria.description}</p>
      </div>
      <!-- Sección de Características -->
      <div class="p-4 bg-white rounded-lg shadow-md border border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800">Características</h2>
        <ul class="list-disc list-inside text-gray-600 mt-2">
          {selectedIluminaria.caracteristicas.map((row) => <li>{row}</li>)}
        </ul>
      </div>
    </div>
    <!-- Botón para regresar -->
    <div class="text-center mt-6">
      <a href="/iluminarias">
        <button class="px-6 py-2 bg-gray-600 text-white font-semibold rounded-lg hover:bg-gray-700 focus:outline-none">
          Volver a Iluminarias
        </button>
      </a>
    </div>
  </div>
</Layout>

