---
// Components
import Layout from "../../layouts/Layout.astro";
import ButtonClass from "../../classes/ButtonClass";
import CustomButton from "../../components/forms/CustomButton";

import VideoPortada from '../../sections/screens/iluminarias/VideoPortada.astro';


const iluminaria1 = {
  title:'PROYECTOR LED PARA GRANDES ALTURAS',
  potencias:'150W a 1250W',
  description:'Diseño con módulos para el compartimiento del driver y la fuente luminosa, gran tolerancia para altas potencias (150 - 1250W). Instalación sencilla y libre de mantenimiento, peso asegurando una disipación efectiva del calor.',
  aplicaciones:['Estadios', 'Unidades Deportivas', 'Patios de Maniobras', 'Estacionamientos'],
  caracteristicas:[
    'Eficacia del sistema 145 lm/W.',
    'Driver multivoltaje con rango de apertura de 90 a 305 V. Sobre pedido 440 V y 480 V.',
    'Supresor de picos de 10 Kv.'
  ],
  img:'/images/screens/iluminarias/img4.png'
}

const iluminaria2 = {
  title:'CAMPANA LED PARA NAVES INDUSTRIALES Y BODEGAS',
  potencias:'100W, 150W y 200W',
  description:'Una opción ideal para iluminar de manera eficiente y segura grandes espacios de trabajo. Esta lámpara cuenta con tecnología LED de alta potencia, lo que garantiza una iluminación brillante y uniforme.',
  aplicaciones:['Naves industriales', 'Domos', 'Canchas', 'Plazas Cívicas Techadas'],
  caracteristicas:[
    'Eficacia real del sistema de 160 lm/W..',
    'Driver multivoltaje con rango de apertura de 100 a 277 V..',
    'Supresor de picos en DRIVER BUILT-IN de 10 Kv.',
  ],
  img:'/images/screens/iluminarias/img1.png'
}

const iluminaria3 = {
  title:'LUMINARIA LED PARA ALUMBRADO PÚBLICO',
  potencias:'20W a 180W',
  description:'Descripción: Diseño patentado, ultra-ligero, aerodinámico y con gran disipación de calor. Incorpora una carcasa de aluminio fundido, con protección general, que le brinda resistencia a ambientes altamente corrosivos y climas complejos. Ideal para vialidades, fraccionamientos, estacionamientos, parques, entre otros.',
  aplicaciones:['Vialidades', 'Estacionamientos'],
  caracteristicas: [
    'Eficacia del sistema 140 a 160 lm/W.',
    'Supresor de picos de tensión de 10 Kv.',
    'Driver multivoltaje con rango de apertura de 90 a 305 V.',
    'Fotocelda tipo NEMA.',
  ],
  img:'/images/screens/iluminarias/img2.png'
}

const iluminaria4 = {
  title:'LUMINARIA LED SOLAR PARA VIALIDADES “TODO EN UNO"',
  potencias:'20W a 60W',
  description:'La S6A es la luminaria solar perfecta que combina funcionalidad, precio, durabilidad, estética y desempeño. La batería cuenta con 7 días de respaldo para días nublados o lluviosos. Es ideal para vialidades, caminos rurales, fraccionamientos, parques, jardines, entre otros; sobre todo aquellos donde no llega la energía eléctrica.',
  aplicaciones:['Vialidades', 'Fraccionamientos', 'Parques y Áreas Comunes'],
  caracteristicas:[
    'Autonomía de 7 noches con días lluviosos o nublados con tan solo 6 horas de carga solar.',
    'Eficacia del LED 190 lm/W, eficacia del sistema 110 lm/W (Prueba 6,000 hrs - NOM-031-ENER-2019).',
    '16 años de vida útil de la batería.',
  ],
  img:'/images/screens/iluminarias/img3.png'
}

const iluminarias = [iluminaria1, iluminaria2, iluminaria3, iluminaria4];

const imageList = [
  'first-image-background',
  'second-image-background',
  'third-image-background',
  'fourth-image-background',
];

---

<style>

  .first-image-background {
    background-image: url('/images/screens/iluminarias/img5.jpg');
    background-size: cover;
    background-position: center;
  }

  .second-image-background {
    background-image: url('/images/screens/iluminarias/img6.jpg');
    background-size: cover;
    background-position: center;
  }

  .third-image-background {
    background-image: url('/images/screens/iluminarias/img7.jpg');
    background-size: cover;
    background-position: center;
  }

  .fourth-image-background {
    background-image: url('/images/screens/iluminarias/img8.jpg');
    background-size: cover;
    background-position: center;
  }

  .fifth-image-background {
    background-image: url('/images/screens/iluminarias/img9.jpg');
    background-size: cover;
    background-position: center;
  }

</style>

<Layout title="Iluminiarias">

  <VideoPortada/>

  <section class="flex flex-col lg:grid lg:grid-cols-2">

    <div class="p-12 gap-1 flex flex-col justify-center">

      <h3 class="text-2xl font-semibold">
        Potentes proyectos de iluminación exterior profesional, duraderos y confiables con alta eficiencia energética.
      </h3>
    
      <p>
        Nuestra gama de luminarias para alumbrado integran materiales altamente
        duraderos, lentes ópticos especializados para vialidades en general y supresor de
        sobretensiones; características que aseguran autosuficiencia y la máxima eficacia lumínica en el mercado.
      </p>

    </div>

    <div class="fifth-image-background lg:h-96"/>

  </section>

  <section class="bg-neutral-700 text-center text-white">

    <div class="px-6 py-14 md:px-20 lg:px-40 xl:px-60">

      <h3 class="text-2xl font-semibold">
        Ideales para vialidades, parques, jardines, túneles, aeropuertos, canchas deportivas, naves industriales, entre otros.
      </h3>
  
      <p>
        Cumplimos con la certificación de todas las normas nacionales e internacionales y contamos con amplias garantías directamente de fábrica.
      </p>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-4">

      {iluminarias.map((row, index) => 

        <div class={`px-6 py-20 flex flex-col gap-12 items-center ${index % 2 === 0 ? 'bg-neutral-800' : 'bg-neutral-900'}`}>

          <h4 class="font-medium">{row.title}</h4>

          <img src={row.img} alt={row.title} class="h-44 mx-auto"/>

          <a href={`/iluminarias/${index}`}>
            <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Ver Producto</CustomButton>
          </a>

        </div>

      )}

    </div>

  </section>

  <section class="text-center flex flex-col">

    <div class="flex flex-col gap-1 px-6 py-14 md:px-20 lg:px-40 xl:px-60">

      <h3 class="text-2xl font-semibold">
        Realizamos proyectos personalizados para cada aplicación, garantizando óptimos resultados.
      </h3>
  
      <p>
        Nuestra Área de Proyectos se especializa en estudios y diagnósticos energéticos de ahorro de energía en el sistema de iluminación, 
        cumpliendo los niveles de luminosidad recomendados por la Secretaría Del Trabajo y Previsión Social.
      </p>

    </div>

      <!-- Pantallas grandes -->
    <div class="hidden md:grid grid-cols-4">
      {imageList.map((row) => <div class={`h-[75vh] ${row} carousel-slide`} />)}
    </div>

    <!-- Pantallas móviles -->
    <div class="block md:hidden relative">
      <div class="relative h-[50vh] overflow-hidden" id="mobile-carousel">
        {imageList.map((row, index) => (
          <div
            class={`absolute inset-0 ${row} carousel-slide`}
            style={{
              transform: `translateX(${index * 100}%)`,
            }}
          ></div>
        ))}
      </div>
    </div>

  </section>

</Layout>

<script>
  // Carousel para móviles
  let currentIndex = 0;
  const carouselSlides = document.querySelectorAll('#mobile-carousel .carousel-slide');
  const slide = document.querySelector('.carousel-slide') as HTMLElement;
if (slide) {
    slide.style.transform = `translateX(${index * 100}%)`;
}

  if (carouselSlides.length > 0) {
    setInterval(() => {
      carouselSlides.forEach((slide, index) => {
        slide.style.transform = `translateX(${(index - currentIndex) * 100}%)`;
      });
      currentIndex = (currentIndex + 1) % carouselSlides.length;
    }, 5000);
  }
</script>