---

// Classes
import ButtonClass from '../classes/ButtonClass';

// Components
import Layout from '../layouts/Layout.astro';
import CustomButton from '../components/forms/CustomButton';
import OurLocationMap from '../sections/data/OurLocationMap';

// Data
const certificacionesList:CertificacionData[] = [
  { title:'Certificación 1', description:'Lorem ipsum dolor sit amet consectetur.' },
  { title:'Certificación 2', description:'Lorem ipsum dolor sit amet consectetur.' },
  { title:'Certificación 3', description:'Lorem ipsum dolor sit amet consectetur.' },
  { title:'Certificación 4', description:'Lorem ipsum dolor sit amet consectetur.' },
];

// Types
type CertificacionData = {
  title: string;
  description: string;
}

const sobreNosotrosParagraph = `
  En Mi Energía MX estamos enfocándonos en brindarles calidad y el buen servicio, utilizando los mejores productos del mercado. 
  Queremos ayudarte a impulsar la transición energética y descarbonización de México a través de soluciones energéticas altamente 
  rentables y eficientes que agregan valor a nuestros clientes reduciendo sus gastos fijos y huella de carbono. 
  Más de 30 años de experiencia en servicios de construcción nos respaldan.`

---

<Layout title='Sobre Nosotros'>

  <section class="md:h-96 w-screen bg-gray-800 flex flex-col justify-center items-center p-6 text-white">

    <h2 class="text-xl font-semibold">Sobre Nosotros</h2>

    <p class="md:w-1/2 text-center">{sobreNosotrosParagraph}</p>

  </section>

  <div class="bg-blue-600 h-screen flex items-center justify-between flex-col p-6">

    <h2 class="text-xl font-semibold text-white">Título X</h2>

    <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Conócenos</CustomButton>

  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 text-center h-96">

    <div class="p-6 bg-gray-100 order-2 md:order-1 h-full flex flex-col justify-center">

      <h2 class="text-xl font-semibold">Nuestra Misión</h2>

      <p>
        Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
        promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
      </p>

    </div>

    <div class="p-6 bg-gray-800 text-white order-1 md:order-2 h-full flex flex-col justify-center">

      <h2 class="text-xl font-semibold">Nuestra Visión</h2>

      <p>
        Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
        Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
      </p>

    </div>

  </section>

  <section>

    <div class="bg-blue-600 h-screen flex items-center justify-between flex-col p-6">

      <h2 class="text-xl text-white font-semibold">Título X</h2>

      <CustomButton buttonClass={ButtonClass.WhiteBorderButtonClass}>Conócenos</CustomButton>

    </div>

    <div class="flex flex-col p-6 bg-gray-800 text-white text-center min-h-96 justify-center">

      <h4 class="text-xl font-semibold">Certificaciones</h4>

      <p class="mb-6">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Tenetur quas facilis rem! Odit provident quisquam repudiandae voluptate eum a alias quae mollitia nisi. 
        Unde tenetur aut rem animi repellendus debitis.
      </p>

      <ul class="flex flex-col md:grid md:grid-cols-2 gap-4">

        {certificacionesList.map((row) => (

          <li class="flex flex-col items-center">

            <div class="h-[3px] bg-white w-12 mb-3"/>

            <h5 class="font-medium text-lg">{row.title}</h5>

            <p>{row.description}</p>

          </li> 
          
        ))}

      </ul>

    </div>

  </section>

  <section class="flex flex-col">

    <div class="flex flex-col bg-white p-6 gap-4">

      <div>

        <div class="flex justify-between items-center mb-4 md:mb-0">

          <h4 class="font-semibold text-xl">Servicios Realizados</h4>

          <CustomButton buttonClass={ButtonClass.BlackButtonClass}>Lorem</CustomButton>

        </div>

        <p class="md:w-1/2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Assumenda inventore neque quas vel quo eveniet, totam blanditiis nulla earum? Magnam nulla 
          tenetur voluptate neque nihil nobis quidem quasi sit! Dignissimos!
        </p>

      </div>


    </div>

    <OurLocationMap client:load/>

  </section>

</Layout>